/* Style for nav */
nav {
    background: #ff5a33;
    border-bottom: 1px solid black;
    padding: 16px 16px;
}

nav a{
    color: white
}

/* Remove all margins and padding from body */
body {
    margin: 0px;
    padding: 0px;
}

/*  Set padding for main */
main {
    padding: 16px;
}

/* Set top and bottom padding and remove left and right padding*/
footer {
    padding: 24px 20px;
    background: #B4CF66;
    font-weight: bold;
    margin-left: -16px;
    margin-right: -16px;
}


/* set anchor color and get rid of underline */
a {
    text-decoration: none;
    color: #44803F;
}

/* set h1 color */
h1 {
    color: #146152;
}

/* Set height for all img */
img {
    height: 200px;
}

/* Style for nav */
nav {
    background: #ff5a33;
    border-bottom: 1px solid black;
    padding: 16px 16px;
}

nav a{
    color: white
}

/* Style to display recipes */

.recipes-display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.recipes-display :first-child {
    align-self: center;
}

/* set style for ingredients table */
tr:nth-child(even) {
    background-color: lightgray;
    font-weight: 500;
}

/*  set margin for <ol> */
.content {
    margin-bottom: 60px;
    font-weight: 500;
}
